.caro__blockquote
    @media ( max-width 840px )
        justify-content: center;

.caro__img-wrap
    @media ( max-width 1024px )
        width: 90%;
        height: 90%;

.caro__meta
    @media ( max-width 840px )
        max-width: 500px;
        padding-left: 1%;
    @media ( max-width 768px )
        max-width: 350px;

.caro__prev
    @media ( max-width 840px )
        left: 5%;

.caro__next
    @media ( max-width 840px ) 
        right: 5%;

.js-caro-arrow
    @media ( max-width 840px )
        top: -8px;