footer.footer.footer__helper
    .footer__inner  
        article.container   
            .footer__main.footer__helper
                
                h2.footer__logo 
                    | A&ampW
                    span
                        | app

                a(href="javascript:void(0);").footer__btn.footer__btn_color_white Download

                ul.footer__social-list
                    
                    // facebook
                    li
                        a(href="javascript:void(0);")
                            img(src="image/general/social/facebook.png", alt="fb pic")
                    // facebook end
                    
                    // twitter
                    li
                        a(href="javascript:void(0);")
                            img(src="image/general/social/twitter.png", alt="tw pic")
                    // twitter end
                    
                    // pint 
                    li
                        a(href="javascript:void(0);")
                            img(src="image/general/social/pinterest.png", alt="pt pic")
                    // pint end
                    
                    // youtube
                    li
                        a(href="javascript:void(0);")
                            img(src="image/general/social/youtube.png", alt="yb pic")
                    
                    // vimeo
                    li
                        a(href="javascript:void(0);")
                            img(src="image/general/social/vimeo.png", alt="vo pic")
                    // vimeo end
                    
                span.footer__rights © A&ampWAPP. All rights reserved. 

