.gal-s#gallary
    .gal-s__wrap
        .gal-s__row

            // slide-1 
            .gal-s__slide
                img(src="image/content/gallary/gallary__s.png", alt="gallery pic")
            // slide-1 end

            // slide-2
            .gal-s__slide
                img(src="image/content/gallary/gallary__s.png", alt="gallery pic")
            // slide-2 end

            // slide-3
            .gal-s__slide
                img(src="image/content/gallary/gallary__s.png", alt="gallery pic")
            // slide-3 end
    
    .gal-s__prev.gal-s__arrow
        img(src="image/content/gallary/prev.png", alt="prev arrow")
    .gal-s__next.gal-s__arrow
        img(src="image/content/gallary/next.png", alt="next arrow")
    