header.header
    .header__inner
        .container
            .header__row
                .header__menu
                    .b-menu
                        span
                        .js-b-menu
                .header__search.js-search
                    img(src="image/general/search/search.png", alt="search").js-search-trigger
                    label(for="search") Search
                    input(type="text", id="search")


            
