.page__nav.js-nav
    nav.nav
        
        ul.nav__list
            // Home
            li 
                a(href="javascript:void(0);", data-sect="hero") Home
            // Home end

            // Features
            li 
                a(href="javascript:void(0);", data-sect="features") Features
            // Features end

            // Login page
            li 
                a(href="javascript:void(0);", data-sect="login") Login page
            // Login page end
            
            // Menu
            li 
                a(href="javascript:void(0);", data-sect="menu") Menu
            // Menu end
            
            // Testimonial
            li 
                a(href="javascript:void(0);", data-sect="testimonial") Testimonial
            // Testimonial end
            
            // Our news
            li 
                a(href="javascript:void(0);", data-sect="news") Our news
            // Our news end
            
            // Other
            li 
                a(href="javascript:void(0);", data-sect="footer") Other
            // Other end
        div.nav__close
            .js-nav-close-trig