.caro#carousel
    .caro__wrap
        .caro__row
            
            // slide-1
            .caro__slide
                blockquote.caro__blockquote
                    .caro__border
                        .caro__img-wrap
                            img(src="image/content/carousel/11790_323402264452072_952296840_n.png", alt="slide ava")
                    .caro__meta
                        h3.caro__name
                            | Alif noor
                        .caro__text
                            | Love this app! Proin gravida nibh vel velit auctor aliquet. 
                            | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                            | nec sagittis sem nibh id elit. 
                            | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            // slide-1 end

            // slide-2
            .caro__slide
                blockquote.caro__blockquote
                    .caro__border
                        .caro__img-wrap
                            img(src="image/content/carousel/11790_323402264452072_952296840_n.png", alt="slide ava")
                    .caro__meta
                        h3.caro__name
                            | Alif noor
                        .caro__text
                            | Love this app! Proin gravida nibh vel velit auctor aliquet. 
                            | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                            | nec sagittis sem nibh id elit. 
                            | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            // slide-2 end

            // slide-3
            .caro__slide
                blockquote.caro__blockquote
                    .caro__border
                        .caro__img-wrap
                            img(src="image/content/carousel/11790_323402264452072_952296840_n.png", alt="slide avat")
                    .caro__meta
                        h3.caro__name
                            | Alif noor
                        .caro__text
                            | Love this app! Proin gravida nibh vel velit auctor aliquet. 
                            | Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
                            | nec sagittis sem nibh id elit. 
                            | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            // slide-3 end
    
    .caro__prev.caro__arrow
        img(src="image/content/carousel/prev.png", alt="arrow prev")
    .caro__next.caro__arrow
        img(src="image/content/carousel/next.png", alt="arrow next")

