.footer .footer__helper
    @media ( max-width 375px )
        margin: 0;
    @media ( orientation landscape ) and ( max-width 800px )
        margin: 0;

.footer__logo
    @media ( max-width 480px )
        font-size: 20px;
        vertical-align: 7px;
        span 
            font-size: 20px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 20px;
        vertical-align: 7px;
        span 
            font-size: 20px;
    @media ( max-width 480px )
        display: block;
        margin: 0;
        margin-bottom: 5%;

.footer__social-list
    @media ( max-width 375px )
        justify-content: space-between;
        & > li:not(:last-child)
            margin: 0;

.footer__rights
    @media ( max-width 480px )
        font-size: 12px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 12px;