@font-face  
  font-family: 'lato-black-webfont'; 
  src: url('fonts/lato-black-webfont.woff2') format('woff2'), 
       url('fonts/lato-black-webfont.woff') format('woff'); 

@font-face  
  font-family: 'opensans-regular-webfont'; 
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'), 
       url('fonts/opensans-regular-webfont.woff') format('woff'); 

@font-face  
  font-family: 'opensans-semibold-webfont'; 
  src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'), 
       url('fonts/opensans-semibold-webfont.woff') format('woff'); 

@font-face  
  font-family: 'raleway-bold-webfont'; 
  src: url('fonts/raleway-bold-webfont.woff2') format('woff2'), 
       url('fonts/raleway-bold-webfont.woff') format('woff'); 

@font-face  
  font-family: 'raleway-medium-webfont'; 
  src: url('fonts/raleway-medium-webfont.woff2') format('woff2'), 
       url('fonts/raleway-medium-webfont.woff') format('woff'); 

@font-face  
  font-family: 'raleway-regular-webfont'; 
  src: url('fonts/raleway-regular-webfont.woff2') format('woff2'), 
       url('fonts/raleway-regular-webfont.woff') format('woff'); 

@font-face  
  font-family: 'raleway-semibold-webfont'; 
  src: url('fonts/raleway-semibold-webfont.woff2') format('woff2'), 
       url('fonts/raleway-semibold-webfont.woff') format('woff'); 