.container
    width: 98%;
    max-width 1060px;
    margin: 0 auto;

.container_size_m
    @extend .container;
    max-width: 900px;
    padding: 0 2px;

.section__header
    text-align: center;
    span 
        font: 28px / 1 raleWaySemiBold;
    .section__title
        margin-top: 7px;
        font: 36px / 1 raleWayBold;

.section__title
    font: 30px / 1 raleWayBold;
    word-spacing: 3.8px;

.btn
    .btn__type_download
        display: inline-block;
        padding: 15px 34px 15px 34px;
        font: 18px / 1 sansSemiBold;
        white-space: nowrap;
        color: mainFontColor;
        background-color: primaryGrey;
    .btn__type_more
        display: inline-block;
        padding: 12px 26px 12px 26px;
        font: 20px / 1 sansSemiBold;
        white-space: nowrap;
        color: #fff;
        background: transparent;
        border: 2px solid primaryGrey;
