extends ../layout/main.pug

block title
    | aw 

block content
    main.page__cont
        
        include ../includes/main-nav.pug

        include ../includes/header.pug

        // hero 
        section.hero.js-sect( data-anchor="hero" )
            .hero__inner
                article.container.container_size_m
                    .hero__main
                        .hero__meta
                            h1.hero__title a &amp w
                            p.hero__text                                
                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
                                | aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud 
                                | exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea 
                                | commodo consequat. 
                                | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                            .hero__btn.btn
                                div
                                    a(href="javascript:void(0);").btn__type_download Download
                                div
                                    a(href="javascript:void(0);").btn__type_more Learn more
                        .hero__figure
                            img(src="image/content/hero/white_phone.png", alt="iphone white pic")
        // hero end

        // features
        section.feat.js-sect( data-anchor="features" )
            section.feat__top
                .feat__inner
                    .container
                        h2.feat__title.section__title 
                            | Check out the superb features
                        p.feat__text
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                            | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
                            | aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                            | quis nostrud exerci tation ullamcorper suscipit lobortis 
            // login
            section.login.js-sect( data-anchor="login" )
                .login__inner
                    article.container.container_size_m
                        .login__main
                            .login__meta.login__helper
                                h3.login__title.section__title
                                    | Login page with social Signups
                                p.login__text
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
                                    | suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
                                    | iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                    | vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
                                    | dignissim qorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipido consequat. 
                                    | Duis autem vel eum iriure dolor in esse molestie
                            .login__figure  
                                img(src="image/content/feature/black-phone.png", alt="black phone")
            // login end

            // menu
            section.menu.js-sect( data-anchor="menu" )
                .menu__inner
                    article.container.container_size_m
                        .menu__main
                            .menu__meta
                                h3.menu__title.section__title
                                    | Today's menu
                                p.menu__text
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
                                    | suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
                                    | iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                    | vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
                                    | dignissim qorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                    | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipido consequat. 
                                    | Duis autem vel eum iriure dolor in esse molestie
                            .menu__figure  
                                img(src="image/content/feature/black-phone1.png", alt="black phone")
            // menu end
        // features end

        // app gallery
        section.gal.js-sect( data-anchor="gallary" )
            .gal__inner
                article.container
                    .gal__header.section__header
                        span Check out
                        h2.gal__title.section__title
                            | App Gallery
                    include ../includes/gallary.pug
        // app gallery end  

        // testimonial
        section.test.js-sect( data-anchor="testimonial" )
            .test__inner
                article.container    
                    include ../includes/slider.pug
        // testimonial end

        // newsletter
        section.news.js-sect( data-anchor="news" )
            .news__inner
                article.container.container_size_m
                    .news__main
                        .news__meta
                            h2.news__title
                                | Sign up to our Newsletter
                            span 
                                | Stay on par with out News and Updates
                        .news__form-field
                            form(action="action.php", method="post").news__form.form#form
                                .news__row
                                    .news__col
                                        label(for="email") Email
                                        input(type="text", name="email", placeholder="Email", id="email")
                                    .news__col
                                        label(for="name") Name
                                        input(type="text", name="name", placeholder="Name", id="name")
                                .news__btn.news__helper
                                    button(type="submit") Subscribe

        //newsletter end

        // footer
        include ../includes/footer.pug
        // footer end
