extends ../layout/main.pug

block title
    | aw 

block content
    main.page__cont
        // features
        section.feat
            section.feat__top
                .container
                    h2.feat__title.section__title 
                        | Check out the superb features
                    .feat__text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                        | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
                        | aliquam erat volutpat. Ut wisi enim ad minim veniam, 
                        | quis nostrud exerci tation ullamcorper suscipit lobortis 
            // login
            section.login
                .login__inner
                    article.container
                        .login__main
                            .login__figure  
                                img(src="image/content/feature/black-phone.png", alt="")
                            .login__cont
                                h3.login__title.section__title
                                    | Login page with social Signups
                                .login__text
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                        | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
                                        | suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
                                        | iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                        | vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
                                        | dignissim qorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                        | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipido consequat. 
                                        | Duis autem vel eum iriure dolor in esse molestie
            // login end

            // menu
            section.menu
                .menu__inner
                    article.container
                        .menu__main
                            .menu__cont
                                h3.menu__title.section__title
                                    | Today's menu
                                .menu__text
                                    p
                                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                        | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper 
                                        | suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum 
                                        | iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
                                        | vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio 
                                        | dignissim qorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                        | sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
                                        | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipido consequat. 
                                        | Duis autem vel eum iriure dolor in esse molestie
                            .menu__figure  
                                img(src="image/content/feature/black-phone1.png", alt="")
            // menu end
        // features end

        // app gallery
        section.gal
            .gal__inner
                article.container
                    .gal__header.section__header
                        span Check out
                        h2.gal__title.section__title
                            | App Gallery
                    include ../includes/gallary.pug
        // app gallery end  

        // testimonial
        section.test
            .test__inner
                article.container    
                    include ../includes/slider.pug
        // testimonial end

        // footer
        include ../includes/footer.pug
        // footer end
