.main-nav__list
    @media ( max-width 480px )
        li
            padding: 25% 0;   
        a
            font-size: 16px;
            color: #fff;
    @media ( max-width 375px )
        li
            padding:  15% 0;