.main-nav__list
    @media ( max-width 480px )
        li
            padding: 25% 0;   
        a
            font-size: 16px;
            color: #fff;
    @media ( max-width 375px )
        li
            padding:  15% 0;
    @media ( orientation landscape ) and ( max-width 800px )
        li
            padding: 10% 0; 
        a
            font-size: 12px;

.main-nav__close
    @media ( max-width 1024px )
        top: 11%;
        right: 6.5%;
    @media ( max-width 840px )
        top: 9%;
    @media ( max-width 768px )
        top: 6.5%;
    @media ( max-width 375px )
        top: 5.5%;
        right: 7.5%;
    @media ( max-width 320px )
        top: 7%;
        right: 8%;
    @media ( orientation landscape ) and ( max-width 800px )
        top: 15.5%;
        right: 7%;