.nav__list
    @media ( max-width 480px )
        li
            padding: 25% 0;   
        a
            font-size: 16px;
            color: #fff;
    @media ( max-width 375px )
        li
            padding:  15% 0;
    @media ( orientation landscape ) and ( max-width 800px )
        li
            padding: 8% 0; 
        a
            font-size: 12px;

.nav__close
    @media ( max-width 375px )
        top: 7%;
        right: 7%;
    @media ( orientation landscape ) and ( max-width 800px )
        top: 7%;
        right: 3%;