@import 'fonts/fonts.styl';
@import 'var/var.styl';

@import 'layout/layout.styl';
@import 'common/common_styles.styl';



/* **************************** */
// hero 
/* **************************** */
.hero
    background: primaryGrey url('image/content/hero/gradient_map.png') no-repeat center / cover;
    overflow: hidden;

.hero__inner
    padding: 160px 0;

.hero__main
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

.hero__meta
    max-width: 540px;
    text-align: right;
    color: #fff;

.hero__title
    margin-bottom: 20px;
    font: 49px / 1 latoBlack;
    text-transform: uppercase;

.hero__text
    font: 15px raleWayReg;

.hero__figure
    position: absolute;
    top: 0;
    right: -1%;
/* **************************** */
// hero end
/* **************************** */

/* **************************** */
// features
/* **************************** */
.feat__top
    text-align: center;
    background-color: primaryBlue;

.feat__inner
    padding: 40px 0 34px 0;

.feat__title
    margin-bottom: 10px;
    font-size: 23px;
    color: #fff;

.feat__text
    max-width 95%
    margin: 0 auto;
    font-size: 15px;
    line-height: 17px;
    word-spacing: 4px;
    color: #fff;
/* **************************** */
// features section end
/* **************************** */



/* **************************** */
// login section
/* **************************** */
.login
    overflow: hidden;

.login__inner
    padding: 100px 0;

.login__main
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;

.login__figure
    position: absolute;
    top: -5%;
    left: -2.7%;

.login__meta
    max-width: 515px;
    text-align: right;

.login__helper
    margin-right: -7px;

.login__title
    margin: 21.3% 0 21px 0;

.login__text
    font-size: 15px;
    word-spacing: 3px;
/* **************************** */
// login section end
/* **************************** */



/* **************************** */
// menu section
/* **************************** */
.menu
    @extend .login;
    background-color: primaryGrey;

.menu__inner
    padding: 100px 0 110px 0;

.menu__main
    @extend .login__main;
    justify-content: flex-start;

.menu__meta
    max-width: 515px;

.menu__title
    @extend .login__title;
    margin-top: 19.6%;

.menu__text 
    @extend .login__text;

.menu__figure
    position: absolute;
    top: -5%;
    right: -3.7%;
/* **************************** */
// menu section end 
/* **************************** */



/* **************************** */
// gallary
/* **************************** */
.gal
    background: primaryBlue url('image/content/gallary/gallary_bg.png') no-repeat center / cover;
    overflow: hidden;

.gal__inner
    padding-top: 80px;

.gal__header
    margin-bottom: 40px;
    text-align: center;
    color: #fff;

@import 'components/gallary.styl';
/* **************************** */
// gallary end
/* **************************** */



/* **************************** */
// testimonial
/* **************************** */
.test
    background-color: primaryGrey;

.test__inner
    padding: 51px 0;

@import 'components/slider.styl';
/* **************************** */
// testimonial end
/* **************************** */



/* **************************** */
// newsletter
/* **************************** */
.news
    color: #fff;
    background: primaryBlack url('image/content/newsletter/newsletter__bg.png') no-repeat center / cover;

.news__inner
    padding: 112px 0 81px 0;

.news__main
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

.news__meta,
.news__form__field
    width: 50%;

.news__title
    margin: 13px 0 9px 0;
    font: 30px / 1 raleWaySemiBold;
    letter-spacing: 1px;

.news__meta
    span 
        font: 20px / 1 raleWayReg;
        word-spacing: 3px;

.news__form
    .news__row
        display: flex;
    .news__col
        width: 50%;
        &:not(:last-child)
            margin-right: 16px;
    label 
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
    input
        padding: 11px 14px 10px 14px;
        font: 13px / 1 sansReg;;
        color: #fff;
        background-color: transparent; 
        border: 2px solid primaryGrey;
    .news__btn
        margin-top: 20px;
        text-align: center;
    button
        padding: 10px 42px 12px 42px;
        font: 20px / 1 sansSemiBold;
        color: #fff;
        background-color: primaryBlue;
        border: none;
    .news__helper
        margin-right: -21px;
/* **************************** */
// newsletter end
/* **************************** */



/* **************************** */
// footer
/* **************************** */
@import 'components/footer.styl';
/* **************************** */
// footer end
/* **************************** */