@import 'fonts/fonts.styl';
@import 'var/var.styl';

@import 'layout/layout.styl';
@import 'common/common_styles.styl';


/* **************************** */
// nav 
/* **************************** */
@import 'components/main-nav/main-nav.styl';
@import 'components/main-nav/media/media.styl'; 
/* **************************** */
// nav end 
/* **************************** */



/* **************************** */
// header 
/* **************************** */
@import 'components/header/header.styl';
@import 'components/header/media/media.styl';
/* **************************** */
// header end 
/* **************************** */



/* **************************** */
// menu 
/* **************************** */
@import 'components/menu/menu.styl';
/* **************************** */
// menu end 
/* **************************** */



/* **************************** */
// hero 
/* **************************** */
.hero
    background: primaryGrey url('image/content/hero/gradient_map.png') no-repeat center / cover;
    overflow: hidden;

.hero__inner
    padding: 30.4% 0 163px 0;

.hero__main
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

.hero__meta
    width: 50.1%;
    text-align: right;
    color: #fff;

.hero__title
    margin-bottom: 20px;
    font: 49px / 1 latoBlack;
    text-transform: uppercase;

.hero__text
    font: 13px / 17px raleWaySemiBold;
    word-spacing: 1.5px;
    &:not(:last-child)
        margin-bottom: 43px;

.hero__btn
    padding-left: 32px;
    text-align: left;
    & > div
        display: inline-block;
    & > div:not(:last-child)
        margin-right: 44px;

.hero__figure
    position: relative;
    width: 48.9%;
    img 
        position: absolute;
        top: -99%;
        right: -2%;
        width: 100%;
/* **************************** */
// hero end
/* **************************** */

/* **************************** */
// features
/* **************************** */
.feat__top
    text-align: center;
    background-color: primaryBlue;

.feat__inner
    padding: 40px 0 34px 0;

.feat__title
    margin-bottom: 10px;
    font-size: 23px;
    color: #fff;

.feat__text
    max-width 95%
    margin: 0 auto;
    font-size: 15px;
    line-height: 17px;
    word-spacing: 4px;
    color: #fff;
/* **************************** */
// features section end
/* **************************** */



/* **************************** */
// login section
/* **************************** */
.login
    overflow: hidden;

.login__inner
    padding: 15.5% 0 100px 0;

.login__main
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;

.login__meta
    width: 57.5%;
    text-align: right;

.login__helper
    margin-right: -7px;

// @extend .login__title
.login__title
    margin-bottom: 21px;

// @extend .menu__text
.login__text
    font-size: 15px;
    word-spacing: 3px;
.login__figure
    width: 48%;
    order: -1;
    img 
        position: absolute;
        top: -40%;
        left: -2.7%;
/* **************************** */
// login section end
/* **************************** */



/* **************************** */
// menu section
/* **************************** */
.menu
    background-color: primaryGrey;
    overflow: hidden;

.menu__inner
    padding: 14.5% 0 110px 0;

.menu__main
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;

.menu__meta
    width: 57.5%;
    text-align: left;

.menu__title
    @extend .login__title;

.menu__text 
    @extend .login__text;

.menu__figure
    width: 48%;
    img
        position: absolute;
        top: -36%;
        right: -3.7%; 

/* **************************** */
// menu section end 
/* **************************** */



/* **************************** */
// gallary
/* **************************** */
.gal
    background: primaryBlue url('image/content/gallary/gallary_bg.png') no-repeat center / cover;

.gal__inner
    padding: 80px 0;

.gal__header
    margin-bottom: 40px;
    text-align: center;
    color: #fff;

@import 'components/gallary/gallary.styl';
@import 'components/gallary/media/media.styl';
/* **************************** */
// gallary end
/* **************************** */



/* **************************** */
// testimonial
/* **************************** */
.test
    background-color: #fff;

.test__inner
    padding: 51px 0;

@import 'components/slider/slider.styl';
@import 'components/slider/media/media.styl';
/* **************************** */
// testimonial end
/* **************************** */



/* **************************** */
// newsletter
/* **************************** */
.news
    color: #fff;
    background: primaryBlack url('image/content/newsletter/newsletter__bg.png') no-repeat center / cover;

.news__inner
    padding: 112px 0 81px 0;

.news__main
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

.news__meta,
.news__form__field
    width: 50%;

.news__title
    margin: 13px 0 9px 0;
    font: 30px / 1 raleWaySemiBold;
    letter-spacing: 1px;

.news__meta
    span 
        font: 20px / 1 raleWayReg;
        word-spacing: 3px;

.news__form
    .news__col
        display: inline-block;
        &:not(:last-child)
            margin-right: 13px;
    label 
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
    input
        padding: 11px 14px 10px 14px;
        font: 13px / 1 sansReg;;
        color: #fff;
        background-color: transparent; 
        border: 2px solid primaryGrey;
    .news__btn
        margin-top: 20px;
        text-align: center;
    button
        padding: 10px 42px 12px 42px;
        font: 20px / 1 sansSemiBold;
        color: #fff;
        background-color: primaryBlue;
        border: none;
    .news__helper
        margin-right: -21px;
/* **************************** */
// newsletter end
/* **************************** */



/* **************************** */
// footer
/* **************************** */
@import 'components/footer/footer.styl';
@import 'components/footer/media/media.styl';
/* **************************** */
// footer end
/* **************************** */

@import 'media/media.styl';