.gal-s
    position: relative;

.gal-s__wrap
    overflow: hidden;

.gal-s__row
    display: flex;

.gal-s__slide
    flex: 1 0 100%;
    text-align: center;
    img 
        width: 88.5%;

.gal-s__arrow
    position: absolute;
    top: 51.4%;
    cursor: pointer;

.gal-s__prev
    left: -2%;

.gal-s__next
    right: -2%;
