.footer
    color: #fff;
    background-color: primaryBlack;

.footer__inner
    padding: 75px 0 59px 0;

.footer__main
    text-align: center;

// .footer__helper выравнивает контент по центру ... prefect pixel
.footer__helper
    margin-right: -26px;

.footer__social-list
    display: flex;
    align-items: center;
    width: 250px;
    padding: 31px 0 20px 0;
    margin: 0 auto;
    li
        width: 35px;
        &:not(:last-child)
            margin-right: 15.5px;
    a
        display: inline-block;
        width: 100%;
        img 
            width: 100%;

.footer__logo
    display: inline-block;
    margin-right: 36px;
    font: 30px / 1 raleWayBold;
    span 
        display: inline-block;
        margin-left: 12px;
        font: 30px / 1 raleWayReg;
        text-transform: uppercase;

.footer__btn
    display: inline-block;
    padding: 16px 48px 15px 48px; 
    font: 16px / 1 sansReg;
    letter-spacing: 1px; 
    vertical-align: 8px;   
    text-transform: uppercase;
    color: primaryBlack;
    background-color: primaryGrey;
    border: none;
    border-radius: 5px;

.footer__rights
    font: 17px / 1 sansReg;
    word-spacing: 3px;