.gal-s
    position: relative;

.gal-s__wrap
    overflow: hidden;

.gal-s__row
    display: flex;

.gal-s__slide
    position: relative;
    flex: 1 0 100%;
    text-align: center;
    min-height: 502px;
    img 
        position: absolute;
        top: 0;
        left: 6%;
        width: 88.5%;

.gal-s__arrow
    position: absolute;
    top: 51.4%;

.gal-s__prev
    left: -2%;

.gal-s__next
    right: -2%;
