.header
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7.5% 0;

.header__row
    display: flex;
    align-items: center;
    justify-content: space-between;

.header__search
    cursor: pointer;
    label 
        display: inline-block;
        width: 0;
        overflow: hidden;
    input 
        width: 0;
        font: 13px / 1 sansReg;
        vertical-align: 8px;
        color: #fff;
        background-color: transparent; 
        border: none;
        border-bottom: 2px solid primaryGrey;
        background: transparent;
        overflow: hidden;
        transition: all .5s;
        outline: none;
    &.active
        input 
            width: auto;
    