.caro
    position: relative;

.caro__wrap
    max-width 900px;
    margin: 0 auto;
    overflow: hidden;

.caro__row
    display: flex;

.caro__slide
    flex: 1 0 100%;

.caro__blockquote
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

.caro__border
    width: 164px;
    height: 164px;
    margin: 0 12px;
    border-radius: 50%;
    border: 3px solid primaryBlue;

.caro__img-wrap
    width: 146px;
    height: 146px;
    margin: 6px auto;
    border-radius: 50%;
    overflow: hidden;
    img 
        transform: translate(-53px, -10px);

.caro__meta
    max-width: 700px;
    padding-left: 26px;

.caro__name
    margin-bottom: 8px;
    font: 26px / 1 raleWayBold;
    word-spacing: 2.1px;

.caro__text
    font-size: 15px;
    line-height: 1;
    word-spacing: 1px;

.caro__arrow
    position: absolute;
    top: 47%;

.caro__prev
    left: 0;

.caro__next
    right: 0;