*, 
*::before, 
*::after
    box-sizing: border-box;

html,
body
    padding: 0;
    margin: 0;
    font: 14px / 24px mainFont;
    color: mainFontColor;

.sect
    position: relative;

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0;
    line-height: 1;

ul,
li
    list-style: none;
    padding: 0;
    margin: 0;

p
    margin: 0;

a
    text-decoration: none;

