/* **************************** */
// hero 
/* **************************** */
.hero__title
    @media ( max-width 375px )
        font-size: 46px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 46px;

.hero__text
    @media ( max-width 375px )
        font-size: 12px;
        line-height: 16px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 12px;
        line-height: 16px;
        &:not(:last-child)
            margin-bottom: 5%;

.hero__btn
    @media ( max-width 375px )
        div
            width: 100%;
        & > div:not(:last-child)
            margin: 0;
            margin-bottom: 7%;
/* **************************** */
// hero end 
/* **************************** */



/* **************************** */
// feature 
/* **************************** */
.feat__inner
    @media ( orientation landscape ) and ( max-width 800px ) 
        padding: 5% 0;

.feat__title
    @media ( max-width 420px )
        font-size: 18px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 18px;

.feat__text
    @media ( max-width 420px )
        font-size: 12px;
        line-height: 20px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 12px;
        line-height: 20px;    
/* **************************** */
// feature end 
/* **************************** */



/* **************************** */
// login 
/* **************************** */
.login__main
    @media ( max-width 540px )
        height: auto;
    @media ( orientation landscape ) and ( max-width 800px )
        height: auto;
        padding: 10% 0; 
    @media ( orientation landscape ) and ( max-width 800px )
        padding: 5% 0;

.login__title
    @media ( max-width 420px )
        margin-bottom: 7%;
        font-size: 18px;
    @media ( orientation landscape ) and ( max-width 800px )
        margin-bottom: 3%;
        font-size: 18px;

.login__text
    @media ( max-width 540px )
        font-size: 14px;
    @media ( max-width 420px )
        font-size: 12px;
        line-height: 24px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 12px;
        line-height: 24px;

.login__figure
    @media ( max-width 540px )
        display: none;
    @media ( orientation landscape ) and ( max-width 800px )
        display: none;
/* **************************** */
// login end
/* **************************** */



/* **************************** */
// menu
/* **************************** */
.menu__text
    @media ( max-width 540px )
        @extend .login__text;

.menu__figure
    @media ( max-width 540px )
        display: none;
    @media ( orientation landscape ) and ( max-width 800px )
        display: none; 
/* **************************** */
// menu end 
/* **************************** */



/* **************************** */
// news
/* **************************** */
.news__meta
    @media ( orientation landscape ) and ( max-width 800px )
        margin-bottom: 3%;

.news__title
    @media ( max-width 480px )
        font-size: 24px;
    @media ( max-width 375px )
        font-size: 18px;
    @media ( orientation landscape ) and ( max-width 800px )
        margin: 1% 0;
        font-size: 18px;

.news__meta span 
    @media ( max-width 480px )
        font-size: 16px;
    @media ( max-width 375px )
        font-size: 12px;
    @media ( orientation landscape ) and ( max-width 800px )
        font-size: 12px;

.news__form
    .news__row
        @media ( max-width 480px )
            margin-bottom: 20%; 
            & > div:not(:last-child)
                margin: 0;
                margin-bottom: 7%;
    .news__col
        @media ( max-width 480px )
            display: block;
    @media ( orientation landscape ) and ( max-width 800px )
        .news__row
            margin-bottom: 10%;
/* **************************** */
// news end 
/* **************************** */