latoBlack = 'lato-black-webfont', sans-serif, Arial;
sansReg = 'opensans-regular-webfont', sans-serif, Arial;
sansSemiBold = 'opensans-semibold-webfont', sans-serif, Arial;
raleWayBold = 'raleway-bold-webfont', sans-serif, Arial;
raleWayMed = 'raleway-medium-webfont', sans-serif, Arial;
raleWayReg = 'raleway-regular-webfont', sans-serif, Arial;
raleWaySemiBold = 'raleway-semibold-webfont', sans-serif, Arial;

mainFont = raleWayMed;
mainFontColor = #566473;

primaryBlue = #5dade2;
primaryGrey = #eff3f3;
primaryBlack = #1b1e20;